---
title: {{title}}
site: www.xiaohongshu.com
date saved: {{date_saved}}
user: {{author}}
created at: {{created_at}}
url: {{url}}
---

# {{title}}
#rednote

---
### {{author}}
{{text}}

---
{{pics}}

---
{{videos}}